.panel-title-shutters > a:before {
    font-family: FontAwesome;
    content:"\f139";
    padding-right: 5px;
}
.panel-title-shutters > a.collapsed:before {
    content:"\f13a";
}
.panel-title-shutters > a:hover, 
.panel-title-shutters > a:active, 
.panel-title-shutters > a:focus  {
    text-decoration:none;
}
.panel-heading-shutters {
    padding: 0px;
}
.panel-heading-shutters a {
    display: block;
    padding: 10px 15px;
}