.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f139";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content:"\f13a";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-heading {
    padding: 0px;
}
.panel-heading a {
    display: block;
    padding: 10px 15px;
}